/* Increase the default width of the page. */
.main {
    max-width: calc(var(--main-width) + var(--gap) * 30);
}
/* Increase less for the home page.
This will eventually replace the following two rules. But for now
the browser support for :has is not widespread yet.
.main:has(.first-entry) {
    max-width: calc(var(--main-width) + var(--gap) * 10);
}
*/
.post-entry {
    max-width: calc(var(--main-width) + var(--gap) * 10);
    margin-left: auto;
    margin-right: auto;
}
.first-entry {
    max-width: calc(var(--main-width) + var(--gap) * 10);
    margin-left: auto;
    margin-right: auto;
}


/* Increase the width of images placed in home info. */
.home-info .entry-content img {
    width: 100%;
    max-width: fit-content;
    border-radius: 2%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

/* Increase the font of summary text. */
.post-entry .entry-content {
    font-size: 18px;
}

/* Set a limit on the width of post images and align them center. */
.post-single .entry-cover {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.post-content img {
    margin: auto;
}
.post-content figcaption {
  text-align: center;
}
